.juntagrico-logo {
    background: url(/static/{{cookiecutter.project_slug}}/img/logo.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}
